{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Page content -->
        <div class="container-fluid mt-2">
            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            <h2 class="mb-0">{% trans "Products" %}</h2>
                        </div>
                        <div class="table-responsive py-4">
                            <table class="table table-flush"
                                   id="datatable-basic">
                                <thead class="thead-light">
                                <tr>
                                    <th>{% trans "ID" %}</th>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "Update" %} / {% trans "Remove" %} </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            var table = $('#datatable-basic').DataTable({
                dom: 'lBfrtip',
                language: {
                    paginate: {
                        previous: "<i class='fas fa-angle-left'>",
                        next: "<i class='fas fa-angle-right'>"
                    }
                },
                processing: true,
                serverSide: true,
                scrollX: true,
                responsive: true,
                minLength: 2,
                order: [],
                buttons: [
                    {
                        className: 'create-product-type btn-success',
                        text: '{% trans "Create Product Type" %}',
                    },
                    "copy", "csv",
                ],
                ajax: {
                    url: "{% url 'list-product-type-json' %}",
                    type: "GET",
                    dataSrc: "data",
                    processing: true,
                    complete: function (data) {
                        populateButtonModals();
                    },
                },

                // we need ID column for edit & delete modals (TODO: investigate it)
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                ],

                columns: [
                    {data: "id"},
                    {data: "name"},
                    {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            return '<button type="button" id="update-product-type-inside" class="bs-modal btn btn-sm btn-primary" data-toggle="modal" data-form-url="{% url "update-product-type" "0" %}"><span>{% trans "Update" %}</span></button>'.replace('0', row['id']) +
                                '<button type="button" id="delete-product-type-inside" class="bs-modal btn btn-sm btn-danger" data-toggle="modal" data-form-url="{% url "delete-product-type" "0" %}"><span>{% trans "Remove" %}</span></button>'.replace('0', row['id']);
                        }
                    }
                ]
            });

            {#$('.dataTables_length select').select2({minimumResultsForSearch: Infinity, width: ''});#}


            $(".create-product-type").modalForm({
                formURL: "{% url 'create-product-type' %}"
            });


            function populateButtonModals() {
                // Todo: event listener didn't work at first time, so after ajax complete,
                //  this function handles modals, not sure if its healthy
                $("#update-product-type-inside, #delete-product-type-inside").each(function () {
                    $(this).modalForm({
                        formURL: $(this).data('form-url')
                    });
                });
            }


            //$(".bs-modal").each(function () {
            //    $(this).modalForm({
            //        formURL: $(this).data('form-url')
            //    });
            //});

        });


    </script>

{% endblock %}