.datepicker {
  z-index: 9999 !important;
}

.order-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-size: .8125rem !important;
}

.order-table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.order-table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.order-table th,
.order-table td {
  padding: .625em;
  text-align: left;
}

.order-table th {
  font-size: .75em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .order-table {
    border: 0;
  }

  .order-table caption {
    font-size: 1.3em;
  }

  .order-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .order-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  .order-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .order-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .order-table td:last-child {
    border-bottom: 0;
  }
}

