{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block title %} Tables {% endblock title %}


{% block content %}

    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Page content -->
        <div class="container-fluid mt-2">
            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            {% if company_name %}
                                <h2 class="mb-0">Sipariş Kalemleri
                                    - {{ order_id }} - {{ company_name }}</h2>
                            {% else %}
                                <h2 class="mb-0">{% trans "Order Items" %}</h2>
                            {% endif %}
                        </div>
                        {% if order_json %}
                            <div class="card-header">
                                <table class="order-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">{% trans "Company" %}</th>
                                        <th scope="col">{% trans "Order Date" %}</th>
                                        <th scope="col">{% trans "Deliver Date" %}</th>
                                        <th scope="col">{% trans "Payment Type" %}</th>
                                        <th scope="col">{% trans "Order Type" %}</th>
                                        <th scope="col">{% trans "Status" %}</th>
                                        <th scope="col">{% trans "Discount" %}</th>
                                        <th scope="col">{% trans "Additional Discount" %}</th>
                                        <th scope="col">{% trans "Total Quantity" %}</th>
                                        <th scope="col">{% trans "Total Package Count" %}</th>
                                        <th scope="col">{% trans "Total Amount" %}</th>
                                        <th scope="col">{% trans "Total Amount with VAT" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td data-label="Firma">{{ order_json.company }}</td>
                                        <td data-label="Sipariş Tarihi">{{ order_json.order_date }}</td>
                                        <td data-label="Teslim Tarihi">{{ order_json.delivery_date }}</td>
                                        <td data-label="Tahsilat Türü">{{ order_json.payment_type }}</td>
                                        <td data-label="Sipariş Türü">{{ order_json.order_type }}</td>
                                        <td data-label="Durumu">{{ order_json.state }}</td>
                                        <td data-label="İndirim">{{ order_json.discount }}</td>
                                        <td data-label="Ek İndirim">{{ order_json.additional_discount }}</td>
                                        <td data-label="Toplam Sayı">{{ order_json.total_quantity }}</td>
                                        <td data-label="Toplam Paket Sayısı">{{ order_json.total_package_count }}</td>
                                        <td data-label="Toplam Tutar (KDV'siz)">{{ order_json.total_amount }}</td>
                                        <td data-label="Toplam Tutar (KDV'li)">{{ order_json.total_amount_with_vat }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="pt-2"
                                     style="font-size: 0.8125em !important">
                                    {% if order_json.note %}
                                        <b>Not:</b> {{ order_json.note }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="table-responsive py-4">
                            <table class="table table-flush"
                                   id="datatable-basic">
                                <thead class="thead-light">
                                <tr>
                                    <th>{% trans "ID" %}</th>
                                    <th>{% trans "Update" %} / {% trans "Remove" %}</th>
                                    <th>{% trans "Order" %}</th>
                                    <th>{% trans "Product" %}</th>
                                    <th>{% trans "Quantity" %}</th>
                                    <th>{% trans "Package Quantity" %}</th>
                                    <th>{% trans "Selling Price" %}</th>
                                    <th>{% trans "Total Amount" %}</th>
                                    <th>{% trans "Total Amount with VAT" %}</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            var order_id = '{{ order_id }}';
            window.order_id = order_id;
            var table = $('#datatable-basic').DataTable({
                dom: 'lBfrtip',
                language: {
                    paginate: {
                        previous: "<i class='fas fa-angle-left'>",
                        next: "<i class='fas fa-angle-right'>"
                    }
                },
                processing: true,
                serverSide: true,
                scrollX: true,
                responsive: true,
                minLength: 2,
                order: [],
                buttons: [
                    {
                        className: 'create-order-item btn-success',
                        text: '{% trans "Create Order Item" %}',
                    },
                    {#{#}
                    {#    className: "update-order btn-warning",#}
                    {#    text: "Siparişi Düzenle",#}
                    {#},#}
                    "copy", "csv",
                ],
                ajax: {
                    url: order_id ? "{% url 'list-order-item-json' 0 %}".replace(0, order_id) : "{% url 'list-order-item-json' %}",
                    type: "GET",
                    dataSrc: "data",
                    processing: true,
                    complete: function (data) {
                        populateButtonModals();
                        if (data.responseJSON && !data.responseJSON.recordsTotal) {
                            $('.create-order-item').click();
                        }
                    },
                },

                // we need ID column for edit & delete modals (TODO: investigate it)
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                ],

                columns: [
                    {data: "id"},
                    {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            return '<button type="button" id="update-order-item-inside" class="bs-modal btn btn-sm btn-primary" data-toggle="modal" data-form-url="{% url "update-order-item" "0" %}"><span>{% trans "Update" %}</span></button>'.replace('0', row['id']) +
                                '<button type="button" id="delete-order-item-inside" class="bs-modal btn btn-sm btn-danger" data-toggle="modal" data-form-url="{% url "delete-order-item" "0" %}"><span>{% trans "Remove" %}</span></button>'.replace('0', row['id']);
                        }
                    },
                    {data: "order"},
                    {data: "product"},
                    {data: "quantity"},
                    {data: "package_count"},
                    {data: "list_price"},
                    {data: "total_amount"},
                    {data: "total_amount_with_vat"},
                ]
            });

            {#$('.dataTables_length select').select2({minimumResultsForSearch: Infinity, width: ''});#}

            $(".create-order-item").modalForm({
                formURL: "{% url 'create-order-item' %}"
            });

            $(".update-order").modalForm({
                formURL: "{% url 'update-order' 0 %}".replace(0, order_id)
            });

            function populateButtonModals() {
                // Todo: event listener didn't work at first time, so after ajax complete,
                //  this function handles modals, not sure if its healthy
                $("#update-order-item-inside, #delete-order-item-inside").each(function () {
                    $(this).modalForm({
                        formURL: $(this).data('form-url')
                    });
                });
            }

            {#$(".return-order").onlick(#}
            {#    window.location.href='{% url "list-order-item" "0" %}'.replace('0', order_id)#}
            {#);#}

            //$(".bs-modal").each(function () {
            //    $(this).modalForm({
            //        formURL: $(this).data('form-url')
            //    });
            //});

        });


    </script>

{% endblock %}