{% load static %}
{% load i18n %}
<!-- Footer -->
{#<footer class="footer pt-0">#}
{#    <div class="row align-items-center justify-content-lg-between">#}
{#        <div class="col-lg-6">#}
{#            <div class="copyright text-center text-lg-left text-muted">#}
{#                &copy; 2019 <a href="https://www.creative-tim.com"#}
{#                               class="font-weight-bold ml-1"#}
{#                               target="_blank">Creative Tim</a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-6">#}
{#            <ul class="nav nav-footer justify-content-center justify-content-lg-end">#}
{#                <li class="nav-item">#}
{#                    <a href="https://www.creative-tim.com"#}
{#                       class="nav-link" target="_blank">Creative#}
{#                        Tim</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="https://www.creative-tim.com/presentation"#}
{#                       class="nav-link" target="_blank">About Us</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="http://blog.creative-tim.com"#}
{#                       class="nav-link" target="_blank">Blog</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="https://www.creative-tim.com/license"#}
{#                       class="nav-link" target="_blank">License</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}

<footer class="footer mr-4">
    <div class="row align-items-end justify-content-lg-end">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <select name="language">
                    {% get_current_language as SELECTEDLANG %}
                    {% get_available_languages as LANGUAGES %}
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}"
                                {% if lang.0 == SELECTEDLANG %}selected{% endif %}>
                            {% if lang.1 == 'English' %}English{% else %}
                                {{ lang.1 }}{% endif %}</option>
                    {% endfor %}
                </select>
                <input type="submit" value='{% trans "Change" %}'/>
            </form>
    </div>
</footer>

