{% load static %}


<!-- Modal 1 with id="create-book"-->
<div class="modal fade" id="create-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- Modal 2 with id="modal" -->
<div class="modal fade" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<!-- Modal 2 with id="modal" -->
<div class="modal fade" role="dialog" id="modal2">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


<!-- Modal 3 -->
<div class="modal fade" id="create-inside-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>