{% load widget_tweaks %}
{% load static %}
{% load i18n %}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">{% trans "Create Order" %}</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        {% for field in form %}
            <div class="form-group{% if field.errors %} invalid{% endif %}">

                {% if field.name == "order_date" or field.name == "delivery_date" %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control datepicker" type="date" placeholder=field.label min="0" %}
                {% else %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" placeholder=field.label min="0" %}
                {% endif %}

                {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            {% trans "Close" %}
        </button>
        <button type="button" class="submit-btn btn btn-primary">
            {% trans "Create" %}
        </button>
    </div>
</form>