{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Header -->
        <!-- Page content -->
        <div class="container-fluid mt-2">

            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            <h2 class="mb-0">Siparişler</h2>
                        </div>
                        <div class="table-responsive py-4">
                            <table class="table table-flush"
                                   id="datatable-basic">
                                <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Detay</th>
                                    <th>Değiştir / Sil</th>
                                    <th>Sipariş Tarihi</th>
                                    <th>Firma</th>
                                    <th>Toplam Miktar</th>
                                    <th>Toplam Koli Adedi</th>
                                    <th>Teslim Tarihi</th>
                                    <th>Tahsilat Türü</th>
                                    <th>Sipariş Türü</th>
                                    <th>Sipariş Durumu</th>
                                    <th>Toplam Tutar</th>
                                    <th>Toplam Tutar (KDVli)</th>
                                    <th>İndirim</th>
                                    <th>Ek İndirim</th>
                                    <th>Not</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            var table = $('#datatable-basic').DataTable({
                dom: 'lBfrtip',
                language: {
                    paginate: {
                        previous: "<i class='fas fa-angle-left'>",
                        next: "<i class='fas fa-angle-right'>"
                    }
                },
                processing: true,
                serverSide: true,
                scrollX: true,
                responsive: true,
                minLength: 2,
                order: [],
                buttons: [
                    {
                        className: 'create-order btn-success',
                        text: 'Yeni Sipariş Taslağı',
                    },
                    "copy", "csv",
                ],
                ajax: {
                    url: "{% url 'list-order-json' %}",
                    type: "GET",
                    dataSrc: "data",
                    processing: true,
                    complete: function (data) {
                        populateButtonModals();
                    },
                },

                // we need ID column for edit & delete modals (TODO: investigate it)
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                ],

                columns: [
                    {data: "id"},
                    {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            return '<button type="button" id="list-order-item" class="bs-modal btn btn-sm btn-warning" onclick="window.location.href=\'{% url "list-order-item" "0" %}\';return false;"><span>Detay</span></button>'.replace('0', row['id']);
                        }
                    },
                    {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            return '<button type="button" id="update-order-inside" class="bs-modal btn btn-sm btn-primary" data-toggle="modal" data-form-url="{% url "update-order" "0" %}"><span>Değiştir</span></button>'.replace('0', row['id']) +
                                '<button type="button" id="delete-order-inside" class="bs-modal btn btn-sm btn-danger" data-toggle="modal" data-form-url="{% url "delete-order" "0" %}"><span>Sil</span></button>'.replace('0', row['id']);
                        }
                    },
                    {data: "order_date"},
                    {data: "company"},
                    {data: "total_quantity"},
                    {data: "total_package_count"},
                    {data: "delivery_date"},
                    {data: "payment_type"},
                    {data: "order_type"},
                    {data: "state"},
                    {data: "total_amount"},
                    {data: "total_amount_with_vat"},
                    {data: "discount"},
                    {data: "additional_discount"},
                    {data: "note"},
                ]
            });

            {#$('.dataTables_length select').select2({minimumResultsForSearch: Infinity, width: ''});#}


            $(".create-order").modalForm({
                formURL: "{% url 'create-order' %}"
            });


            function populateButtonModals() {
                // Todo: event listener didn't work at first time, so after ajax complete,
                //  this function handles modals, not sure if its healthy
                $("#update-order-inside, #delete-order-inside").each(function () {
                    $(this).modalForm({
                        formURL: $(this).data('form-url')
                    });
                });
            }


            //$(".bs-modal").each(function () {
            //    $(this).modalForm({
            //        formURL: $(this).data('form-url')
            //    });
            //});
        });


    </script>

{% endblock %}