{% load widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Sipariş Güncelle</h3>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == "total_amount" or field.name == "total_amount_with_vat" or field.name == "total_quantity" or field.name == "total_package_count" %}
                    {% render_field field class="form-control" placeholder=field.label readonly=true %}
                {% else %}
                    {% render_field field class="form-control" placeholder=field.label %}
                {% endif %}

                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="submit-btn btn btn-primary">Update</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        var _total_amount = parseFloat($('[name="total_amount"]').val());
        var _total_amount_with_vat = parseFloat($('[name="total_amount_with_vat"]').val());
        var _discount;

        if (!update_total_amount_and_vat) {
            var update_total_amount_and_vat = () => {
                _discount = parseFloat($('[name="discount"]').val());
                let _res = 0;
                if (_total_amount && _discount) {
                    _res = Math.ceil(parseFloat(_total_amount - (_total_amount * _discount) / 100))
                    $('[name="total_amount"]').val(_res);
                }
            }
        }

        $('[name="discount"]').on('change', function () {
            update_total_amount_and_vat();
        });

    });
</script>